.main__info.info
  .info__wrap
    .info__block.info__block_1
      .info__text 
        .info__text_marker.info__text_marker_1
        span.info__text_marked &ltcode/R&gt
        |  — самая крупная IT-конференция в Омске.
        |В этом году мы расширяем границы и выходим в онлайн,
        |чтобы поделиться своим опытом в построении
        |технологических решений и познакомиться с крутыми
        |кейсами коллег из других компаний. Лучшие практики
        |и дельные советы, подробные tutorials и заряжающие
        |воркшопы – скорее к программе!
    .info__block.info__block_2
      .info__text
        .info__text_marker.info__text_marker_2
        span.info__text_marked &ltдень/R&gt
        |  — первый день конференции для студентов
        |и начинающих специалистов в IT. Вы сможете
        |погрузиться в работу Raiffeisen Tech Center – от
        |тестирования продуктов до техподдержки – и даже
        |попробовать себя в роли сотрудников Service Desk в
        |игровом формате.Не пропустите этот день, если хотите
        |определиться с направлением работы в IT, прокачать
        |свои навыки в QA/тех.администрировании или попасть
        |в нашу крутую команду.