@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./../fonts/SegoeUIRegular/SegoeUI.woff') format('woff'), url('./../fonts/SegoeUIRegular/SegoeUI.ttf') format('truetype');
}

@font-face {
  font-family: 'OCRF-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./../fonts/OCRF/OCRF-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OCRF-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('./../fonts/OCRF/OCRF-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

