header.main__slider.slider
  .slider__wrap
    .splide
      .splide__track
        .splide__list
          .splide__slide 
            .slider__persons
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Гулаков Иван <br/> Райффайзенбанк
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Халкевич Роман <br/> Яндекс.Еда
          .splide__slide 
            .slider__persons
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Гулаков Иван <br/> Райффайзенбанк
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Халкевич Роман <br/> Яндекс.Еда
          .splide__slide 
            .slider__persons
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Гулаков Иван <br/> Райффайзенбанк
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Халкевич Роман <br/> Яндекс.Еда
          .splide__slide 
            .slider__persons
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Гулаков Иван <br/> Райффайзенбанк
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Халкевич Роман <br/> Яндекс.Еда
          .splide__slide 
            .slider__persons
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Гулаков Иван <br/> Райффайзенбанк
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Халкевич Роман <br/> Яндекс.Еда
          .splide__slide 
            .slider__persons
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Гулаков Иван <br/> Райффайзенбанк
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Халкевич Роман <br/> Яндекс.Еда
          .splide__slide 
            .slider__persons
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Гулаков Иван <br/> Райффайзенбанк
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Халкевич Роман <br/> Яндекс.Еда
          .splide__slide 
            .slider__persons
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Гулаков Иван <br/> Райффайзенбанк
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Халкевич Роман <br/> Яндекс.Еда
          .splide__slide 
            .slider__persons
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Гулаков Иван <br/> Райффайзенбанк
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Халкевич Роман <br/> Яндекс.Еда
          .splide__slide 
            .slider__persons
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Гулаков Иван <br/> Райффайзенбанк
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Халкевич Роман <br/> Яндекс.Еда
          .splide__slide 
            .slider__persons
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Гулаков Иван <br/> Райффайзенбанк
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Халкевич Роман <br/> Яндекс.Еда
          .splide__slide 
            .slider__persons
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Гулаков Иван <br/> Райффайзенбанк
              .persons__person.person__data
                .person__img
                  .person__photo
                    .person__circle
                    .person__dott-line
                h4.person__name Халкевич Роман <br/> Яндекс.Еда
