header.main__header.header
  .header__wrap
    h4.header__date 20-22 октября <br> теперь онлайн
    h2.header__title 
      span &lt
      |code
      span /
      |R
      span &gt
    p.header__info Та самая IT-конференция в Омске
    .header__dotter-line
      img(src="img/main/line.png")