nav.nav
  .nav__wrap
    .nav__logo
      img.logo__img(src='img/main/logo.png')
      h3.logo__title 
        span &lt
        |code
        span /
        |R
        span &gt
    ul.nav__list
      li.nav__item 
        a(href='index.html') Описание
      li.nav__item 
        a(href='materials.html') Программа
      li.nav__item 
        a(href='materials.html') Регистрация
  